*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fonts Linked */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Fonts End */

/* Common Button Effect */

.cm-btn{
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.ucm-btn{
    border: 2px solid #00FF88;
    padding: 12px 16px;
    color: #00FF88;
    border-radius: 50px;
    background: none;
    cursor: pointer;
}

/* Header Navigation Start */
header{
    max-width: 1920px;
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-gdn{
    background: linear-gradient(to top, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.nav-container{
    width: 80%;
    margin: 0 auto;
    color: white;
}
.nav-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container nav h2{
    font-size: 2rem;
}

.nav-container ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.nav-container ul li a{
    text-decoration: none;
    color: white;
}
.nav-container ul li a:hover{
    background: linear-gradient(to top, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}

/* Navigation Responsive */
@media screen and (max-width: 576px){
    .navigation-ham{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navigation-ham ul{
        flex-direction: column;
        position: absolute;
        top: 92px;
        left: 0;
        width: 100%;
        background-color: #1A0B2E;
        padding: 16px 0;
    }
    #hamburger:checked ~ .nav-container{
        display: flex;
        /* display: block !important; */
    }
}


/* Navigation End */

/* Hero Section Start */
.hero-container{
    width: 100%;
    max-width: 1920px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.mic{
    height: 21.875rem;
    width: 21.875rem;
    position: relative;
    display: inline-block;
}
.img1{
    height: 100%;
    width: 100%;
    }
.img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge {
    position: absolute;
    top: 5%;
    left: 75%;
    background: #00FF88;
    color: black;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.hero-content{
    margin-top: 40px;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.hero-content p{
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.hero-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* Hero Section End */

/* About Section Start */

.about-container{
    max-width: 1920px;
    background-color: #1A0B2E;
    height: 646px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.about-content{
    width: 60%;
    margin: 0 auto;
}
.about-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-content p{
    font-size: 1rem;
}

.hr-line{
    width: 80%;
    border: none;
    height: 1px;
}

.about-cards{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.ab-cards h1{
    font-size: 3rem;
    color: #00FF88;
    text-align: center;
    margin-bottom: 16px;
}
.ab-cards p{
    font-size: 1rem;
    text-align: center;
}
/* About Section End */

/* Why Choose TechWave Section Start */

.wct-container{
    max-width: 1920px;
    height: 1121px;
    background-color: #230E3D;
    color: white;
    padding: 7.5rem 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wct-container h1{
    margin-bottom: 2.25rem;
}

.wct-content .grid-parent{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.875rem;
}

/* Common Cards Style for Childs */
.g-child{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    padding: 2.5rem;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.g-child img{
    width: 3.75rem;
    height: auto;
}
.g-child h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.g-child p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.grid-child-1{
    grid-row: span 2;
    
}

.grid-child-2, .grid-child-3, .grid-child-4{
    grid-column: span 2;
}
.grid-child-5{
    grid-row: span 1;
}
/* Why Choose TechWave Section End */

/* Featured Episodes Section Start */

.featured-container{
    max-width: 1920px;
    height: 1276px;
    background-color: #1A0B2E;
    color: white;
    padding: 7.5rem 12.5rem;
}

.ft-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7.5rem;
}

.f-ep{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.f-ep .card{
    background-color: #250D44;
    width: 23.75rem;
    height: 27.5rem;
    border-radius: 1.5rem;
}

.f-ep .card iframe{
    border-radius: 1.5rem 1.5rem 0 0;
}
.f-ep .card .card-content{
    padding: 1rem 1.5rem;
    text-align: left;
}
.f-ep .card .card-content h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.f-ep .card .card-content h2, p{
    margin-bottom: 1rem;
}
.video-time img{
    width: 1.25rem;
    height: 1.25rem;
}
.video-time{
    display: flex;
    justify-content:left;
    color: #00FF88;
    text-align: left;
    gap: 0.375rem;
}
.f-mt{
    width: 80%;
    margin: 0 auto;
}
.f-mt h1{
    text-align: center;
    margin-bottom: 2.5rem;
}

.single-card{
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    border-radius: 2.5rem;
    background: rgba(53, 17, 101, 0.4);
}

.single-card .sc-img{
    width: 12.5rem;
    height: 12.5rem;
}

.sc-content h2{
    font-size: 2rem;
    font-style: 700;
    margin-bottom: 1rem;
}
.sc-content p{
    margin-bottom: 1rem;
}

.sc-content .social-icons {
    display: flex;
    list-style: none;
    /* justify-content: left; */
    gap: 0.5rem;
}

.sc-content .social-icons li{
    height: 2.5rem;
    width: 2.5rem;
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 2rem;
    align-items: center;
    padding: 0.625rem;
    cursor: pointer;
}

/* Featured Episodes Section End */