*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fonts Linked */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Fonts End */

/* Common Button Effect */

.cm-btn{
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.ucm-btn{
    border: 2px solid #00FF88;
    padding: 12px 16px;
    color: #00FF88;
    border-radius: 50px;
    background: none;
    cursor: pointer;
}

/* Header Navigation Start */
header{
    max-width: 1600px;
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-gdn{
    background: linear-gradient(to top, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.nav-container{
    width: 80%;
    margin: 0 auto;
    color: white;
}
.nav-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container nav h2{
    font-size: 2rem;
}
.navigation-ham{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
}
.navigation-ham ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.navigation-ham ul li a{
    text-decoration: none;
    color: white;
}
.navigation-ham ul li a:hover{
    background: linear-gradient(to top, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}

/* Navigation Responsive */
@media screen and (max-width: 576px){
    .navigation-ham{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navigation-ham ul{
        flex-direction: column;
        position: absolute;
        top: 92px;
        left: 0;
        width: 100%;
        background-color: #1A0B2E;
        padding: 16px 0;
    }
    #hamburger:checked ~ .nav-container{
        display: flex;
        /* display: block !important; */
    }
}


/* Navigation End */

/* Hero Section Start */
.hero-container{
    width: 100%;
    max-width: 1600px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.mic{
    height: 350px;
    width: 350px;
    position: relative;
    display: inline-block;
}
.img1{
    height: 100%;
    width: 100%;
    }
.img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge {
    position: absolute;
    top: 5%;
    left: 75%;
    background: #00FF88;
    color: black;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.hero-content{
    margin-top: 40px;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.hero-content p{
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.hero-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* Hero Section End */

/* About Section Start */

.about-container{
    max-width: 1600px;
    background-color: #1A0B2E;
    height: 646px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.about-content{
    width: 60%;
    margin: 0 auto;
}
.about-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-content p{
    font-size: 1rem;
}

.hr-line{
    width: 80%;
    border: none;
    height: 1px;
}

.about-cards{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.ab-cards h1{
    font-size: 3rem;
    color: #00FF88;
    text-align: center;
    margin-bottom: 16px;
}
.ab-cards p{
    font-size: 1rem;
    text-align: center;
}