*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fonts Linked */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Fonts End */

body{
    max-width: 100%;
}

/* Common Button Effect */

.cm-btn{
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
.cm-btn:hover{
    background: #00FF88;
    transform: scale(1.1);
    transition: 1s;
    color: #1A0B2E;
}

.ucm-btn{
    border: 2px solid #00FF88;
    padding: 12px 16px;
    color: #00FF88;
    border-radius: 50px;
    background: none;
    cursor: pointer;
    transition: 1s ease;
}

.ucm-btn:hover{
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

/* Header Navigation Start */
header{
    /* max-width: 1920px; */
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-gdn{
    background: linear-gradient(to top, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.nav-container{
    width: 80%;
    margin: 0 auto;
    color: white;
}
.nav-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container nav h2{
    font-size: 2rem;
}

.nav-container ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.nav-container ul li a{
    text-decoration: none;
    color: white;
}
.nav-container ul li a:hover{
    background: linear-gradient(to top, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}

/* Navigation Responsive */
@media screen and (max-width: 576px){
    .nav-container .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav-container div button{
        display: none;
    }
    #hamburger:checked ~ .nav-container{
        display: flex;
        /* display: block !important; */
    }
}


/* Navigation End */

/* Hero Section Start */
.hero-container{
    width: 100%;
    /* max-width: 1920px; */
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.mic{
    height: 21.875rem;
    width: 21.875rem;
    position: relative;
    display: inline-block;
}
.img1{
    height: 100%;
    width: 100%;
    animation: spin 5s infinite linear;
    }

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 75%;
    background: #00FF88;
    color: black;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.hero-content{
    margin-top: 40px;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.hero-content .hcp{
    font-size: 1.25rem;
    margin-bottom: 24px;
    text-align: center;
}

.hero-btn{
    display: flex;
    justify-content: center;
    gap: 12px;
}
/* Hero Section Responsive */
@media screen and (max-width: 576px){
    .hero-container{
        height: 466px;
        width: 100%;
        background-image: url(../assets/hero-bg.png);
        background-size: 180% 100%;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .mic{
        height: 12.55rem;
        width: 12.5rem;
        position: relative;
        display: inline-block;
    }
    .img1{
        height: 100%;
        width: 100%;
        }
    .img2{
        height: auto;
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .badge {
        position: absolute;
        top: 5%;
        left: 75%;
        background: #00FF88;
        color: black;
        padding: 4px 8px;
        font-size: 1.125rem;
        font-weight: 600;
        border-radius: 20px;
        box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    }

    .hero-content{
        margin-top: 2.5rem;
        padding: 0 1.25rem;
    }
    .hero-content h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .hero-content p{
        font-size: 1rem;
    }

    .hero-btn{
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}

/* Hero Section End */


/* About Section Start */

.about-container{
    /* max-width: 1920px; */
    background-color: #1A0B2E;
    /* height: 646px; */
    padding: 50px 200px 120px 200px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.about-content{
    width: 60%;
    margin: 0 auto;
}
.about-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-content .abt-p{
    font-size: 1rem;
    text-align: center;
}

.hr-line{
    width: 80%;
    border: none;
    height: 1px;
}

.about-cards{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.ab-cards h1{
    font-size: 3rem;
    color: #00FF88;
    text-align: center;
    margin-bottom: 16px;
}
.ab-cards p{
    font-size: 1rem;
    text-align: center;
}

/* About Section Responsive */
@media screen and (max-width: 576px){
    .about-container{
        background-color: #1A0B2E;
        /* height: 575px; */
        width: 100%;
        padding: 40px 20px;
    }
    .about-container .about-content{
        width: 90%;
    }
    .about-container .about-content h1{
        font-size: 2rem;
        font-weight: 700;
    }
    .hr-line{
        width: 80%;
        border: none;
    }

    .about-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .ab-cards h1{
        font-size: 2.5rem;
        color: #00FF88;
        text-align: center;
    }
    .ab-cards p{
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
    }
}


/* About Section End */

/* Why Choose TechWave Section Start */

.wct-container{
    /* max-width: 1920px; */
    /* height: 1121px; */
    background-color: #230E3D;
    color: white;
    padding: 7.5rem 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.wct-container h1{
    margin-bottom: 2.25rem;
}

.wct-content .grid-parent{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.875rem;
}

/* Common Cards Style for Childs */
.g-child{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    padding: 2.5rem;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.g-child img{
    width: 3.75rem;
    height: auto;
}
.g-child h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.g-child p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.grid-child-1{
    grid-row: span 2;
    
}

.grid-child-2, .grid-child-3, .grid-child-4{
    grid-column: span 2;
}
.grid-child-5{
    grid-row: span 1;
}

/* Why Choose TechWave Section Responsive */
@media screen and (max-width: 576px){
    .wct-container{
        padding: 40px 20px;
    }
    .wct-content .grid-parent{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        justify-items: left;
    }
    .g-child h2{
        font-size: 1.375rem;
        font-weight: 600;
        text-align: left;
    }
    .g-child-p{
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
    }
    .grid-child-1{
        grid-row: span 1;
        
    }
    .grid-child-2, .grid-child-3, .grid-child-4{
        grid-column: span 1;
    }
}

/* Why Choose TechWave Section End */

/* Featured Episodes Section Start */

.featured-container{
    /* max-width: 1920px; */
    /* height: 1276px; */
    background-color: #1A0B2E;
    color: white;
    padding: 7.5rem 12.5rem;
}

.ft-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7.5rem;
}

.f-ep{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.f-ep .card{
    background-color: #250D44;
    width: 23.75rem;
    height: 27.5rem;
    border-radius: 1.5rem;
}

.f-ep .card iframe{
    border-radius: 1.5rem 1.5rem 0 0;
}
.f-ep .card .card-content{
    padding: 1rem 1.5rem;
    text-align: left;
}
.f-ep .card .card-content h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.f-ep .card .card-content h2, p{
    margin-bottom: 1rem;
    text-align: left;
}
.video-time img{
    width: 1.25rem;
    height: 1.25rem;
}
.video-time{
    display: flex;
    justify-content:left;
    color: #00FF88;
    text-align: left;
    gap: 0.375rem;
}
.f-mt{
    width: 80%;
    margin: 0 auto;
}
.f-mt h1{
    text-align: center;
    margin-bottom: 2.5rem;
}

.single-card{
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    border-radius: 2.5rem;
    background: rgba(53, 17, 101, 0.4);
}

.single-card .sc-img{
    width: 12.5rem;
    height: 12.5rem;
}

.sc-content h2{
    font-size: 2rem;
    font-style: 700;
    margin-bottom: 1rem;
}
.sc-content p{
    margin-bottom: 1rem;
}

.sc-content .social-icons {
    display: flex;
    list-style: none;
    /* justify-content: left; */
    gap: 0.5rem;
}

.sc-content .social-icons li{
    height: 2.5rem;
    width: 2.5rem;
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 2rem;
    align-items: center;
    padding: 0.625rem;
    cursor: pointer;
}

/* Featured Episodes Section Responsive */
@media screen and (max-width: 576px){
    .featured-container{
        width: 100%;
        padding: 40px 20px;
        margin: 0 auto;
    }
    .f-ep{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
    .f-mt{
        width: 100%;
    }
    .single-card{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 24px;
    }
    .sc-content h2{
        font-size: 1.5rem;
    }
    .sc-content p{
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
}


/* Featured Episodes Section End */

/* Footer Section Start */

.footer-container{
    /* max-width: 1920px; */
    /* height: 412px; */
    padding: 120px;
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.footer-container h1{
    font-size: 5rem;
    font-weight: 700;
}
.footer-container .ft-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.625rem;
}
.footer-container .ft-icon .ft-social{
    display: flex;
    /* justify-content: center; */
    text-align: left;
    gap: 1rem;
}

.footer-container .ft-icon .ft-social img{
    width: 1.5rem;
    height: 1.5rem;
}
.footer-container p{
    opacity: 0.4;
}


/* Footer Section Responsive */
@media screen and (max-width:576px){
    .footer-container{
        padding: 40px 20px;
        width: 100%;
        height: 100%;
        background-image: url(../assets/footer-bg.png);
        background-size: 180% 100%;
        background-repeat: no-repeat;
    }
    .footer-container h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .footer-container .ft-icon{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
        justify-content: space-around;
    }
    .footer-container .ft-icon .row2{
        padding-left: 2rem;
    }
}

/* Footer Section End */